export EDITOR=vim
export PATH=$PATH:~/.local/bin

alias llm='llama serve -m Qwen3.6-27B-UD-Q5_K_XL.gguf --host 0.0.0.0 --spec-type draft-mtp --spec-draft-n-min 2 --spec-draft-n-max 5 --spec-draft-type-k q8_0 --spec-draft-type-v q8_0'

{{ if eq .chezmoi.os "darwin" -}}
# Make ctrl-x ctrl-e work
autoload -z edit-command-line
zle -N edit-command-line
bindkey "^X^E" edit-command-line

# Make home/end keys work
bindkey  "^[[H"   beginning-of-line
bindkey  "^[[F"   end-of-line

# ---- Tab completion: interactive highlighted menu ----
autoload -Uz compinit && compinit
zmodload zsh/complist

setopt auto_list
setopt auto_menu
setopt auto_param_slash
setopt complete_in_word

zstyle ':completion:*' menu select

# Colourise the list
if [[ -n "$LS_COLORS" ]]; then
  zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
else
  zstyle ':completion:*' list-colors ''
fi

# Fuzzy matching: case-insensitive + match substrings anywhere
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' 'r:|=*' 'l:|=*'
zstyle ':completion:*' keep-prefix

# Inside the menu: Tab forward, Shift-Tab backward
bindkey -M menuselect '^I' menu-select
bindkey -M menuselect "$terminfo[kcbt]" reverse-menu-complete

{{ end -}}
