{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
# CLI Formulae
brew "cmake"
brew "git"
brew "jq"
brew "libomp"
brew "ripgrep"
brew "tig"
brew "vim"
brew "yq"
brew "zsh"

# GUI formulae
cask "1password"
cask "ghostty"
cask "hammerspoon"
cask "orion"

EOF
{{ end -}}
